<!DOCTYPE html>
<html>
  <head>
    <title>Watt 2021 Project</title>
    <style>
        h2 {text-align: center;}
        form {text-align: center;}
        input {text-align: center;}
    </style>
</head>
  <body>
    <h2>HTML Forms</h2>

    <form action="/" method="POST">
      <input
        type="text"
        id="uname"
        name="uname"
        placeholder="Username"
        value="{{uname}}"
      /><br />
      <br>
      <input type="submit" value="Submit" />
    </form>

 
  </body>
</html>
