<!DOCTYPE html>
<html>
<head>
    <title>Watt 2021 Project</title>
    <style>
        h1 {text-align: center;
            font-family: 'Lucida Sans';
            }
        form {text-align: center;}
        p {text-align: center;}
    </style>
</head>
<body style = "background-color:tomato">
<h1>Watt 2021 Project</h1>
<p style="text-align:right;":>{{uname}}</p>

<p>Points: {{pts}}</p>
{% if message %} <p>Previous was {{message}}</p> {% endif %}
<p>{{prob}}</p>
<br><br><br><br><br><br>
<p>{{thing}}</p>
<form action="" method="POST">
  <input type="text" id="ans" name="ans" ><br><br>
  <input type="submit" value="Submit">
</form> 


</body>
</html>
